body {
    background-image: url('https://pngtree.com/free-backgrounds-photos/banking.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}